html {
  height: 100%;
    flex: 1; /* main 영역이 남는 공간을 모두 차지하도록 함 */
   max-width: 960px;
   margin:  auto; 
    border: 2px solid #e9ecef;
}

header nav {
    background-color: 	grey;
    padding: 18px;
    border-bottom: 2px solid #e9ecef;
    font-size: 32px;            
    display: flex;
    margin-left: auto;
}
header nav h2 {
    font-size: 30px;
    color: #343a40;
    margin-top: auto;
}

header nav ul {
    display: flex;
    gap: 40px;
}
.profile {
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile h1 {
    font-size: 28px;
    margin: auto;
}
.profile p {
    font-size: 20px;
    margin: auto;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* body의 최소 높이를 화면 전체 높이로 설정 */
}

main {
  flex: 1; /* main 영역이 남는 공간을 모두 차지하도록 함 */
   max-width: 960px;
    padding: 0 20px;
}

footer {
  background-color: blanchedalmond;
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;}

th, td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
    text-align: left;
}